* {
  margin: 0;
  padding: 0;
}
:root {
  --primary: #ffffff;
  --primary-title: #095c53;
  --primary-dark: #9fb6b4b4;
  --icon-o: rgba(40, 40, 177, 0.853);
  --icon-x: rgba(184, 57, 57, 0.85);
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: var(--primary);
  padding: 35px 0;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 70px;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  max-width: 340px;
  max-height: 340px;
  margin: 3rem auto;
  row-gap: 10px;
  column-gap: 10px;
  background-color: var(--primary-dark);
}
.section {
  width: 100px;
  height: 100px;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 60px;
}
.iconCircle {
  color: var(--icon-o);
}
.iconXmark {
  color: var(--icon-x);
}
/* style in alert (swall) */
.iconCircle.alert {
  font-size: 50px;
}
.iconXmark.alert {
  font-size: 68px;
}
/* end */

#B1 {
  border-top: 0;
  border-left: 0;
}
#B2 {
  border-top: 0;
}
#B3 {
  border-right: 0;
  border-top: 0;
}
#B4 {
  border-left: 0;
}
#B6 {
  border-right: 0;
}
#B7 {
  border-left: 0;
  border-bottom: 0;
}
#B8 {
  border-bottom: 0;
}
#B9 {
  border-bottom: 0;
  border-right: 0;
}
/* reset btn */
.reset-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.btn {
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  transition: all 70ms ease-in-out;
  outline: none;
  width: 120px;
}
.btn.play-again {
  outline: 0;
  background-color: #2a79c2;
}
.btn.play-again:hover {
  background-color: #176ec0;
  transform: scale(1.1);
}
.btn.reset {
  background-color: #d33;
}
.btn.reset:enabled:hover {
  background-color: red;
  transform: scale(1.1);
}
.btn.reset:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* costum style of Swall */
.no-border {
  border: 0 !important;
  border-radius: 0;
}
.title {
  color: red;
}

/* Player component styles */
.player-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 50px;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  margin-bottom: 20px;
}
.btn-container {
  margin: 10px 0;
  display: flex;
  gap: 20px;
}
.game-title {
  color: var(--primary-title);
  margin: 40px 0;
  font-size: xx-large;
  text-shadow: 7px 10px 5px var(--primary-dark);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(58, 43, 43, 0.5);
}
.players-btn {
  width: 150px;
  background-color: var(--primary-dark);
  font-size: 25px;
  border: none;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
  padding: 0.4rem 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
}
.winnerQty {
  padding: 2px 5px;
  border: 0;
  color: var(--primary-title);
}
.playerTurn {
  border-bottom: 2px solid rgb(10, 5, 5);
}

.animate {
  animation: winnerAnim 800ms ease-in-out;
  animation-iteration-count: 200;
}
@keyframes winnerAnim {
  from {
    opacity: 0.5;
    transform: scale(1);
  }
  to {
    opacity: 1;
    transform: scale(1.1);
  }
}

@media screen and (max-width: 600px) {
  .App {
    margin-top: 0;
    width: 100%;
    border-radius: 0;
    height: 100vh;
  }
}
@media screen and (max-width: 380px) {
  .players-btn {
    width: 110px;
  }
  .section {
    width: 80px;
    height: 90px;
    font-size: 40px;
  }
  .reset-btn-container {
    gap: 20px;
  }
}
@media screen and (max-width: 260px) {
  .players-btn {
    width: 90px;
  }
  .section {
    width: 50px;
    height: 60px;
    font-size: 30px;
  }
}
