* {
  margin: 0;
  padding: 0;
}
:root{
    background-color:#14bdac;
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  max-width: 340px;
  max-height: 340px;
  margin: 5rem auto;
  row-gap: 10px;
  column-gap: 10px;
  background-color: #1aa799d0;
}
.section {
  width: 100px;
  height: 100px;
  background-color: #14bdac;
  border: 5px solid #1ec2b1f6;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 60px;
}
.iconCircle {
  color: rgba(40, 40, 177, 0.853);
}
.iconXmark {
  color: rgba(184, 57, 57, 0.850);
}
/* style in alert (swall) */
.iconCircle.alert{
  font-size: 50px;
}
.iconXmark.alert {
    font-size: 68px;
}
/* end */

#B1 {
  border-top: 0;
  border-left: 0;
}
#B2 {
  border-top: 0;
}
#B3 {
  border-right: 0;
  border-top: 0;
}
#B4 {
  border-left: 0;
}
#B6 {
  border-right: 0;
}
#B7 {
  border-left: 0;
  border-bottom: 0;
}
#B8 {
  border-bottom: 0;
}
#B9 {
  border-bottom: 0;
  border-right: 0;
}
/* reset btn */
.btn {
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}
.btn.reset {
  outline: 0;
  color: white;
  background-color: rgba(48, 24, 24, 0.747);
  transition: all 200ms ease;
}
.btn.reset:hover {
  background-color: rgba(48, 24, 24, 0.849);
  transform: scale(1.1);
}
.no-border {
  border: 0 !important;
  border-radius: 0;
}
.title {
  color: red;
}

/* Player component styles */
.player-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 50px;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}
.btn-container{
    margin: 10px 0;
    display: flex;
    gap: 20px;
}
.game-title{
    color: #13867b;
    margin-bottom: 10px;
}
.players-btn {
  width: 170px;
  background-color: transparent;
  font-size: 25px;
  border: 2px solid rgba(238, 238, 238, 0.37);
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
  outline: 0;
  transition: all 200ms ease-in-out;
  padding: .2rem 0;
}
.playerTurn{
    border-bottom: 2px solid #14bdac;
}

.animate{
    animation: winnerAnim 800ms ease-in-out;
    animation-iteration-count: 200;
}
@keyframes winnerAnim {
    from{
      opacity: 0.5;
      transform: scale(1);

    }
    to{
        opacity: 1;
        transform: scale(1.1);
    }
}